﻿@*@model IEnumerable<FamilyTree.Models.Child>*@
@model FamilyTree.Models.ChildModel

@{
    ViewBag.Title = "IndexAsync";
}

<h2>IndexAsync</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.child.Name)
        </th>
        
       
    </tr>

@foreach (var item in Model.children) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChildId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>*@
    </tr>
}

</table>
