﻿@model IEnumerable<FamilyTree.Models.Parent>

@{
    ViewBag.Title = "IndexAsync";
    //Layout = "~/Views/_ViewStart.cshtml";
}

<h2>IndexAsync</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>#</th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.ParentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
       
    </tr>
}

</table>
